# Omitir archivos exportados
publico
.output/

# dependencias
node_modules/

# errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# variables ambiente
.env
.env.production

# temporales de mac
.DS_Store
