<!DOCTYPE html>
<html lang="es" class="astro-DCIJX6KF" style="--colorPrincipal: #5757F7;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/sitio.webmanifest">
    <link rel="canonical" href="https://enflujo.com/proyectos/">
    <title>Proyectos | ..:: EnFlujo ::..</title>
    <meta name="description" content="Galería de proyectos del Laboratorio EnFlujo.">
    <!-- OpenGraph -->
    <meta property="og:locale" content="es_CO">
    <meta property="og:site_name" content="EnFlujo">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://enflujo.com/proyectos/">
    <meta property="og:title" content="Proyectos | ..:: EnFlujo ::..">
    <meta property="og:description" content="Galería de proyectos del Laboratorio EnFlujo.">
    <meta property="og:image" content="https://enflujo.com//imgs/og-EnFlujo-predeterminado.jpg">
    <meta property="og:image:alt" content="Proyectos">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@labenflujo">
    <meta name="twitter:creator" content="@labenflujo">
    <meta name="twitter:url" content="https://enflujo.com/proyectos/">
    <meta name="twitter:title" content="Proyectos | ..:: EnFlujo ::..">
    <meta name="twitter:description" content="Galería de proyectos del Laboratorio EnFlujo.">
    <meta name="twitter:image" content="https://enflujo.com//imgs/og-EnFlujo-predeterminado.jpg">
    <meta name="twitter:image:alt" content="Proyectos">
    <link rel="stylesheet" href="https://use.typekit.net/ksv6tvg.css">
  <link rel="stylesheet" href="/assets/404-index-proyectos-_slug_-proyectos-index.c24b4193.css" />
<link rel="stylesheet" href="/assets/proyectos-index.911f65f2.css" /><style>:root {
  --colorPrincipal: colorPrincipal;
}</style><script type="module" src="/hoisted.f7fa1c79.js"></script></head>

  <body class="astro-DCIJX6KF">
    <nav class="navegacion astro-CCZHHMNZ">
  <a href="/" class="logoBtn astro-CCZHHMNZ">
    <svg class="enflujoLogo menuSuperior astro-MT67E4J7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.576 73.197">
  <title class="EnflujoLogo" lang="es">Logo EnFlujo</title>
  <path transform="matrix(.35278 0 0 -.35278 33.34 47.38)" d="m0 0 23.783-14.33L48.394.041v55.747L0 27.266Zm-4.485-73.184a4.48 4.48 0 0 0-2.251.606l-85.536 49.63a4.484 4.484 0 0 0-2.234 3.879v99.258c0 1.6.851 3.078 2.235 3.881l85.593 49.628a4.482 4.482 0 0 0 4.478.013l43.632-24.979a4.484 4.484 0 0 0 1.664-6.12 4.483 4.483 0 0 0-6.12-1.665l-41.39 23.695-81.122-47.037v-94.091l81.058-47.031 47.272 27.259L23.711-24.76-2.224-39.904a4.488 4.488 0 0 0-4.571.029L-62.553-6.379a4.487 4.487 0 0 0-2.175 3.845v66.172c0 1.599.851 3.078 2.235 3.88l55.758 32.334a4.486 4.486 0 0 0 4.5-7.76l-53.523-31.037V.004l51.305-30.822 19.409 11.334L-6.8-6.375a4.484 4.484 0 0 0-2.171 3.841v32.363c0 1.589.84 3.058 2.208 3.864l57.365 33.809a4.481 4.481 0 0 0 4.502.03 4.483 4.483 0 0 0 2.26-3.894V-2.534a4.484 4.484 0 0 0-2.223-3.873L32.538-19.606 53.94-32.502a4.483 4.483 0 0 0 2.17-3.884 4.482 4.482 0 0 0-2.244-3.843L-2.245-72.584a4.48 4.48 0 0 0-2.24-.6" class="astro-MT67E4J7"></path>
</svg>


  </a>
  <a href="/proyectos" class="navBtn astro-CCZHHMNZ">
        Proyectos
      </a><a href="/equipo" class="navBtn astro-CCZHHMNZ">
        Equipo
      </a>
</nav>


    <main id="archivoProyectos" class="pagina astro-ZU77DNG2">
    <section class="inicioPagina contenedorFluido astro-ZU77DNG2">
      <h1 class="tituloPagina astro-ZU77DNG2">Proyectos</h1>
      <!-- <div v-if="pagina.contenido" v-html="$md.render(pagina.contenido)"></div> -->

      <!-- <nav v-if="temas && temas.size" id="filtros">
        <p class="intertitulo">Filtrar por temas:</p>
        <ul :class="filtroActivo ? 'activo' : ''">
          <li
            v-for="(tema, i) in temas"
            :key="`tema${i}`"
            class="tema"
            :class="temasSeleccionados.has(tema) ? 'actual' : ''"
            @click="filtrarPorTema(tema)"
          >
            {{ tema }}
          </li>
        </ul>
      </nav> -->
    </section>

    <div class="contenedorProyectos astro-ZU77DNG2">
      <div class="proyecto astro-ZU77DNG2">
            <div class="contenedorImg astro-ZU77DNG2">
              <a class="enlaceImg astro-ZU77DNG2" href="/proyectos/libres-no-valientes">
                <img class="perezoso astro-ZU77DNG2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/a7c7ac2e-7a8d-4b25-b56d-202486b53833?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Libres No Valientes" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-ZU77DNG2">
              <a class="titulo astro-ZU77DNG2" href="/proyectos/libres-no-valientes">
                <h2 class="astro-ZU77DNG2">En las calles libres, no valientes</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-ZU77DNG2">
                <div class="fecha astro-ZU77DNG2" class="terminado">
                  <p id="textoEstado" class="astro-ZU77DNG2">Publicado el 6 de julio de 2022</p>
                  <img class="enflujoPunto astro-ZU77DNG2" src="/imgs/EnFlujo_punto_v61.svg" alt="Icono separador entre fecha y hace cuanto se realizó el proyecto.">
                  <span class="notaEnFlujo astro-ZU77DNG2" data-fecha="Wed Jul 06 2022 19:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-ZU77DNG2">Mapa de violencias contra las mujeres en el espacio público de Bogotá.</p>

                <a class="enlace terminado astro-ZU77DNG2" href="https://cerosetenta.uniandes.edu.co/especiales/libres-no-valientes/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-ZU77DNG2">
                <p class="interTitulo astro-ZU77DNG2">Código:</p>
                <div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/070-mapa-mujeres" target="_blank" rel="external">
                      www
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-ZU77DNG2">
            <div class="contenedorImg astro-ZU77DNG2">
              <a class="enlaceImg astro-ZU77DNG2" href="/proyectos/colev-pronostico-covid">
                <img class="perezoso astro-ZU77DNG2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/45e2aa20-6781-444e-90bb-a4338d0dad57?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Screenshot from 2022 06 24 10 50 16(1)" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-ZU77DNG2">
              <a class="titulo astro-ZU77DNG2" href="/proyectos/colev-pronostico-covid">
                <h2 class="astro-ZU77DNG2">Colev - Pronóstico del Covid en Colombia</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-ZU77DNG2">
                <div class="fecha astro-ZU77DNG2" class="terminado">
                  <p id="textoEstado" class="astro-ZU77DNG2">Publicado el 31 de agosto de 2022</p>
                  <img class="enflujoPunto astro-ZU77DNG2" src="/imgs/EnFlujo_punto_v61.svg" alt="Icono separador entre fecha y hace cuanto se realizó el proyecto.">
                  <span class="notaEnFlujo astro-ZU77DNG2" data-fecha="Wed Aug 31 2022 19:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-ZU77DNG2">Pronóstico de contagios y muertes por Covid-19 en Colombia durante la pandemia.</p>

                <a class="enlace terminado astro-ZU77DNG2" href="https://enflujo.com/pronostico-covid19/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-ZU77DNG2">
                <p class="interTitulo astro-ZU77DNG2">Código:</p>
                <div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/colev-pronostico-covid19" target="_blank" rel="external">
                      www
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-ZU77DNG2">
            <div class="contenedorImg astro-ZU77DNG2">
              <a class="enlaceImg astro-ZU77DNG2" href="/proyectos/colev-colegios">
                <img class="perezoso astro-ZU77DNG2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/0f0c279b-6d2c-4ee2-b588-4b183a81be8b?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Screenshot from 2022 06 24 10 50 16" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-ZU77DNG2">
              <a class="titulo astro-ZU77DNG2" href="/proyectos/colev-colegios">
                <h2 class="astro-ZU77DNG2">Colev - De vuelta al colegio</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-ZU77DNG2">
                <div class="fecha astro-ZU77DNG2" class="proceso">
                  <p id="textoEstado" class="astro-ZU77DNG2">En proceso</p>
                  <img class="enflujoPunto astro-ZU77DNG2" src="/imgs/EnFlujo_punto_v61.svg" alt="Icono separador entre fecha y hace cuanto se realizó el proyecto.">
                  <span class="notaEnFlujo astro-ZU77DNG2" data-fecha="Sun Jul 11 2021 12:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-ZU77DNG2">De vuelta al colegio permite determinar el nivel de riesgo de contagio de Covid-19 que enfrentan aquellas personas que hacen parte de los centros e instituciones educativas. Colaboración con COLEV, grupo de investigación de la Universidad de los Andes.</p>

                
              </div>

              <div class="repos astro-ZU77DNG2">
                <p class="interTitulo astro-ZU77DNG2">Código:</p>
                <div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/colev-colegios" target="_blank" rel="external">
                      www
                    </a>
                  </div><div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/colev-colegios-servidor" target="_blank" rel="external">
                      servidor
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-ZU77DNG2">
            <div class="contenedorImg astro-ZU77DNG2">
              <a class="enlaceImg astro-ZU77DNG2" href="/proyectos/imagina-salud-materno-infantil">
                <img class="perezoso astro-ZU77DNG2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/fb6bae0c-b8c9-4524-a35d-f47fea11e697?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Parapagina 2" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-ZU77DNG2">
              <a class="titulo astro-ZU77DNG2" href="/proyectos/imagina-salud-materno-infantil">
                <h2 class="astro-ZU77DNG2">Impacto del COVID-19 sobre la salud materno infantil en Colombia</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-ZU77DNG2">
                <div class="fecha astro-ZU77DNG2" class="proceso">
                  <p id="textoEstado" class="astro-ZU77DNG2">En proceso</p>
                  <img class="enflujoPunto astro-ZU77DNG2" src="/imgs/EnFlujo_punto_v61.svg" alt="Icono separador entre fecha y hace cuanto se realizó el proyecto.">
                  <span class="notaEnFlujo astro-ZU77DNG2" data-fecha="Thu Feb 10 2022 12:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-ZU77DNG2">Herramienta de visualización y exploración de datos acerca del impacto de la pandemia en la salud materno infantil en Colombia a partir de una investigación de IMAGINA - Centro para la promoción del bienestar de la infancia y adolescencia.</p>

                <a class="enlace proceso astro-ZU77DNG2" href="https://enflujo.github.io/imagina-maternoinfantil/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-ZU77DNG2">
                <p class="interTitulo astro-ZU77DNG2">Código:</p>
                <div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/imagina-maternoinfantil" target="_blank" rel="external">
                      www
                    </a>
                  </div><div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/imagina-maternoinfantil-api" target="_blank" rel="external">
                      tally
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-ZU77DNG2">
            <div class="contenedorImg astro-ZU77DNG2">
              <a class="enlaceImg astro-ZU77DNG2" href="/proyectos/programacin-creativa">
                <img class="perezoso astro-ZU77DNG2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/6c504142-fe3a-4f88-8337-b4ff8be271d1?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Screenshot from 2022 05 13 17 07 49(2)" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-ZU77DNG2">
              <a class="titulo astro-ZU77DNG2" href="/proyectos/programacin-creativa">
                <h2 class="astro-ZU77DNG2">Programación Creativa</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-ZU77DNG2">
                <div class="fecha astro-ZU77DNG2" class="proceso">
                  <p id="textoEstado" class="astro-ZU77DNG2">En proceso</p>
                  <img class="enflujoPunto astro-ZU77DNG2" src="/imgs/EnFlujo_punto_v61.svg" alt="Icono separador entre fecha y hace cuanto se realizó el proyecto.">
                  <span class="notaEnFlujo astro-ZU77DNG2" data-fecha="Fri Nov 20 2020 12:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-ZU77DNG2">Un espacio para aprender sobre programación, con intenciones de creación artística.</p>

                <a class="enlace proceso astro-ZU77DNG2" href="https://enflujo.github.io/programacion-creativa/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-ZU77DNG2">
                <p class="interTitulo astro-ZU77DNG2">Código:</p>
                <div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/programacion-creativa" target="_blank" rel="external">
                      programacion-creativa
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-ZU77DNG2">
            <div class="contenedorImg astro-ZU77DNG2">
              <a class="enlaceImg astro-ZU77DNG2" href="/proyectos/emporio-no-benevolente">
                <img class="perezoso astro-ZU77DNG2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/476feda8-c7d0-418d-9ee8-c699e25b3e31?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Emporio No Benevolente V1" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-ZU77DNG2">
              <a class="titulo astro-ZU77DNG2" href="/proyectos/emporio-no-benevolente">
                <h2 class="astro-ZU77DNG2">Emporio no Benevolente</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-ZU77DNG2">
                <div class="fecha astro-ZU77DNG2" class="proceso">
                  <p id="textoEstado" class="astro-ZU77DNG2">En proceso</p>
                  <img class="enflujoPunto astro-ZU77DNG2" src="/imgs/EnFlujo_punto_v61.svg" alt="Icono separador entre fecha y hace cuanto se realizó el proyecto.">
                  <span class="notaEnFlujo astro-ZU77DNG2" data-fecha="Wed Dec 08 2021 12:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-ZU77DNG2">Aplicación para detectar &quot;objetos&quot; (según el lenguaje de modelos como Coco SSD, el cual incluye humanos) en películas grabadas durante la colonia Belga en África.</p>

                <a class="enlace proceso astro-ZU77DNG2" href="https://enflujo.com/emporio/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-ZU77DNG2">
                <p class="interTitulo astro-ZU77DNG2">Código:</p>
                <div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/enflujo-emporio-no-benevolente" target="_blank" rel="external">
                      www
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-ZU77DNG2">
            <div class="contenedorImg astro-ZU77DNG2">
              <a class="enlaceImg astro-ZU77DNG2" href="/proyectos/cartografia-de-la-violencia-policial">
                <img class="perezoso astro-ZU77DNG2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/3f33d9d5-b247-4206-bdae-f4fd34f8ab22?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Cartografia Violencia Policial" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-ZU77DNG2">
              <a class="titulo astro-ZU77DNG2" href="/proyectos/cartografia-de-la-violencia-policial">
                <h2 class="astro-ZU77DNG2">Cartografía de la Violencia Policial</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-ZU77DNG2">
                <div class="fecha astro-ZU77DNG2" class="terminado">
                  <p id="textoEstado" class="astro-ZU77DNG2">Publicado el 9 de mayo de 2021</p>
                  <img class="enflujoPunto astro-ZU77DNG2" src="/imgs/EnFlujo_punto_v61.svg" alt="Icono separador entre fecha y hace cuanto se realizó el proyecto.">
                  <span class="notaEnFlujo astro-ZU77DNG2" data-fecha="Sun May 09 2021 19:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-ZU77DNG2">Aplicación que reporta casos de violencia policial en Colombia con datos analizados de fuentes abiertas.</p>

                <a class="enlace terminado astro-ZU77DNG2" href="https://cerosetenta.uniandes.edu.co/especiales/violencia-policial/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-ZU77DNG2">
                <p class="interTitulo astro-ZU77DNG2">Código:</p>
                <div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/070-violencia-policial" target="_blank" rel="external">
                      www
                    </a>
                  </div><div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/070-violencia-policial-servidor" target="_blank" rel="external">
                      servidor
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-ZU77DNG2">
            <div class="contenedorImg astro-ZU77DNG2">
              <a class="enlaceImg astro-ZU77DNG2" href="/proyectos/siete-horas-de-angustia-en-la-modelo">
                <img class="perezoso astro-ZU77DNG2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/1d18e2b1-958a-41ad-a59d-868d54db968e?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Siete Horas Horas de Angustia en la Modelo" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-ZU77DNG2">
              <a class="titulo astro-ZU77DNG2" href="/proyectos/siete-horas-de-angustia-en-la-modelo">
                <h2 class="astro-ZU77DNG2">Siete Horas de Angustia en la Modelo</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-ZU77DNG2">
                <div class="fecha astro-ZU77DNG2" class="terminado">
                  <p id="textoEstado" class="astro-ZU77DNG2">Publicado el 17 de mayo de 2020</p>
                  <img class="enflujoPunto astro-ZU77DNG2" src="/imgs/EnFlujo_punto_v61.svg" alt="Icono separador entre fecha y hace cuanto se realizó el proyecto.">
                  <span class="notaEnFlujo astro-ZU77DNG2" data-fecha="Sun May 17 2020 19:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-ZU77DNG2">El 21 de marzo del 2020, cientos de internos de la cárcel La Modelo de Bogotá se amotinaron, reclamando atención ante la pandemia del Covid-19.</p>

                <a class="enlace terminado astro-ZU77DNG2" href="https://cerosetenta.uniandes.edu.co/especiales/siete-horas/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-ZU77DNG2">
                <p class="interTitulo astro-ZU77DNG2">Código:</p>
                <div class="repo astro-ZU77DNG2">
                    <img class="iconoRed astro-ZU77DNG2" src="/imgs/github.svg">
                    <a class="repoNombre astro-ZU77DNG2" href="https://github.com/enflujo/070-siete-horas" target="_blank" rel="external">
                      www
                    </a>
                  </div>
              </div>
            </section>
          </div>
    </div>
  </main>

    <div id="marco" class="astro-DCIJX6KF">
      <span id="marcoSuperior" class="seccionMarco astro-DCIJX6KF"></span>
      <span id="marcoInferior" class="seccionMarco astro-DCIJX6KF"></span>
      <span id="marcoIzq" class="seccionMarco astro-DCIJX6KF">
        <div class="flujo astro-DCIJX6KF">
          <p class="copy astro-DCIJX6KF">EnFlujo</p>
          <p id="fecha" class="copy fecha astro-DCIJX6KF"></p>
        </div>
      </span>
      <span id="marcoDer" class="seccionMarco astro-DCIJX6KF"></span>
    </div>

    
  </body>
</html>







