<!DOCTYPE html>
<html lang="es" class="astro-4ZMCT2CQ" style="--colorPrincipal: #5757F7;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="canonical" href="https://enflujo.com/proyectos/">
    <title>Proyectos | ..:: EnFlujo ::..</title>
    <meta name="description" content="Galería de proyectos del Laboratorio EnFlujo.">
    <!-- OpenGraph -->
    <meta property="og:locale" content="es_CO">
    <meta property="og:site_name" content="EnFlujo">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://enflujo.com/proyectos/">
    <meta property="og:title" content="Proyectos | ..:: EnFlujo ::..">
    <meta property="og:description" content="Galería de proyectos del Laboratorio EnFlujo.">
    <meta property="og:image" content="https://enflujo.com//imgs/og-EnFlujo-predeterminado.jpg">
    <meta property="og:image:alt" content="Proyectos">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@labenflujo">
    <meta name="twitter:creator" content="@labenflujo">
    <meta name="twitter:url" content="https://enflujo.com/proyectos/">
    <meta name="twitter:title" content="Proyectos | ..:: EnFlujo ::..">
    <meta name="twitter:description" content="Galería de proyectos del Laboratorio EnFlujo.">
    <meta name="twitter:image" content="https://enflujo.com//imgs/og-EnFlujo-predeterminado.jpg">
    <meta name="twitter:image:alt" content="Proyectos">
  <link rel="stylesheet" href="/assets/proyectos-index.06698048.css" />
<link rel="stylesheet" href="/assets/404-index-proyectos-_slug_-proyectos-index.606c4cc1.css" /><style>:root {
  --colorPrincipal: colorPrincipal;
}</style><script type="module" src="/hoisted.9110608d.js"></script></head>

  <body class="astro-4ZMCT2CQ">
    <nav class="navegacion astro-CCZHHMNZ">
  <a href="/" class="logoBtn astro-CCZHHMNZ">
    <svg class="enflujoLogo menuSuperior astro-FMVXSCPU" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150.96 150">
  <title id="EnflujoLogo" lang="es">Logo EnFlujo</title>
  <path d="M150.96,25.34L107.06,0l-21.06,12.16L64.95,0,0,37.5V112.5l64.95,37.5,64.95-37.5v-24.32l21.05-12.15V25.34ZM64.95,4.1l17.5,10.11-18.39,10.62h0L21.06,49.65v48.64L3.55,108.44V39.55L64.95,4.1Zm61.4,82.03l-19.29,11.14-40.33-23.29v-23.32h0V27.39l19.29-11.14,40.35,23.29v46.58Zm-63.18-10.1v68.85L5.36,111.5l19.25-11.16V51.7L63.17,29.44v46.59h0Zm3.55,2.05l36.78,21.24-36.78,21.24v-42.47Zm59.63,32.37l-59.63,34.43v-20.22l40.33-23.29h0l19.29-11.14v20.22Zm21.05-36.48l-17.5,10.1V37.5L89.56,14.21l17.5-10.11,40.34,23.29v46.58Z" class="astro-FMVXSCPU"></path>
</svg>


  </a>
  <a href="/proyectos" class="navBtn astro-CCZHHMNZ">
        Proyectos
      </a><a href="/equipo" class="navBtn astro-CCZHHMNZ">
        Equipo
      </a>
</nav>


    <main id="archivoProyectos" class="pagina astro-O34WYVZW">
    <section class="inicioPagina contenedorFluido astro-O34WYVZW">
      <h1 class="tituloPagina astro-O34WYVZW">Proyectos</h1>
      <!-- <div v-if="pagina.contenido" v-html="$md.render(pagina.contenido)"></div> -->

      <!-- <nav v-if="temas && temas.size" id="filtros">
        <p class="intertitulo">Filtrar por temas:</p>
        <ul :class="filtroActivo ? 'activo' : ''">
          <li
            v-for="(tema, i) in temas"
            :key="`tema${i}`"
            class="tema"
            :class="temasSeleccionados.has(tema) ? 'actual' : ''"
            @click="filtrarPorTema(tema)"
          >
            {{ tema }}
          </li>
        </ul>
      </nav> -->
    </section>

    <div class="contenedorProyectos astro-O34WYVZW">
      <div class="proyecto astro-O34WYVZW">
            <div class="contenedorImg astro-O34WYVZW">
              <a class="enlaceImg astro-O34WYVZW" href="/proyectos/libres-no-valientes">
                <img class="perezoso astro-O34WYVZW" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/a7c7ac2e-7a8d-4b25-b56d-202486b53833?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Libres No Valientes" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-O34WYVZW">
              <a class="titulo astro-O34WYVZW" href="/proyectos/libres-no-valientes">
                <h2 class="astro-O34WYVZW">En las calles libres, no valientes</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-O34WYVZW">
                <div class="fecha astro-O34WYVZW" class="terminado">
                  <p id="textoEstado" class="astro-O34WYVZW">Publicado el 6 de julio de 2022</p>
                  <svg class="enflujoIcono" viewBox="0 0 34.58 40" fill="#000" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;width:1em;height:auto;padding:0">
  <title id="EnflujoIcono" lang="es">Icono de EnFlujo</title>
  <path d="M17.29,7.48a.78.78,0,0,1-.79-.79V1a.79.79,0,1,1,1.58,0V6.69A.79.79,0,0,1,17.29,7.48Z"></path>
  <path d="M17.29,26.18a.78.78,0,0,1-.79-.79V14.29a.79.79,0,0,1,1.58,0v11.1A.79.79,0,0,1,17.29,26.18Z"></path>
  <path d="M17.29,39.81A.78.78,0,0,1,16.5,39V33.31a.79.79,0,0,1,1.58,0V39A.79.79,0,0,1,17.29,39.81Z"></path>
  <path d="M33.75,30.29a.82.82,0,0,1-.38-.09l-4.94-2.86a.78.78,0,0,1-.29-1.07A.79.79,0,0,1,29.22,26l5,2.85a.78.78,0,0,1-.42,1.46Z"></path>
  <path d="M22.12,23.57a.82.82,0,0,1-.38-.09L12.07,17.9a.78.78,0,0,1-.28-1.08.78.78,0,0,1,1.08-.28l9.66,5.57a.79.79,0,0,1,.29,1.08A.82.82,0,0,1,22.12,23.57Z"></path>
  <path d="M5.74,14.13a.73.73,0,0,1-.39-.1L.41,11.18A.78.78,0,0,1,.13,10.1.76.76,0,0,1,1.2,9.82l5,2.85a.78.78,0,0,1,.28,1.08A.8.8,0,0,1,5.74,14.13Z"></path>
  <path d="M28.86,14.06a.78.78,0,0,1-.7-.38.77.77,0,0,1,.29-1.07l4.94-2.89a.79.79,0,0,1,1.08.29.78.78,0,0,1-.29,1.07L29.24,14A.92.92,0,0,1,28.86,14.06Z"></path>
  <path d="M12.47,23.6a.79.79,0,0,1-.7-.38.78.78,0,0,1,.29-1.07l9.67-5.65a.79.79,0,0,1,.79,1.37l-9.67,5.64A.88.88,0,0,1,12.47,23.6Z"></path>
  <path d="M.81,30.39A.8.8,0,0,1,.11,30a.78.78,0,0,1,.28-1.08l5-2.88a.78.78,0,0,1,1.08.28.79.79,0,0,1-.29,1.08L1.19,30.29A.65.65,0,0,1,.81,30.39Z"></path>
  <path d="M12.57,4.5a.8.8,0,0,1-.7-.38A.78.78,0,0,1,12.15,3l5.2-3,5.2,3a.78.78,0,0,1,.28,1.08.76.76,0,0,1-1.07.28L17.35,1.84,13,4.41A1.17,1.17,0,0,1,12.57,4.5Z"></path>
  <path d="M33.77,16.86a.79.79,0,0,1-.79-.79v-5.2L28.6,8.37a.78.78,0,0,1-.28-1.08.74.74,0,0,1,1-.29L34.56,10v6.12A.79.79,0,0,1,33.77,16.86Z"></path>
  <path d="M29,33.12a.83.83,0,0,1-.7-.41.78.78,0,0,1,.25-1.08L33,29.1V24a.79.79,0,0,1,1.58,0V30l-5.17,3A.47.47,0,0,1,29,33.12Z"></path>
  <path d="M17.38,40l-5.19-3A.79.79,0,1,1,13,35.66l4.4,2.53,4.41-2.53A.79.79,0,1,1,22.58,37Z"></path>
  <path d="M5.66,33.12A1.06,1.06,0,0,1,5.24,33L0,30.05V24a.79.79,0,0,1,.8-.79A.79.79,0,0,1,1.6,24v5.14L6,31.63a.79.79,0,0,1,.31,1.08A.75.75,0,0,1,5.66,33.12Z"></path>
  <path d="M.81,16.86a.79.79,0,0,1-.8-.79v-6l5.2-3A.8.8,0,1,1,6,8.43L1.63,11V16.1A.83.83,0,0,1,.81,16.86Z"></path>
</svg>
                  <span class="notaEnFlujo astro-O34WYVZW" data-fecha="Wed Jul 06 2022 19:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-O34WYVZW">Mapa de violencias contra las mujeres en el espacio público de Bogotá.</p>

                <a class="enlace terminado astro-O34WYVZW" href="https://cerosetenta.uniandes.edu.co/especiales/libres-no-valientes/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-O34WYVZW">
                <p class="interTitulo astro-O34WYVZW">Código:</p>
                <div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/070-mapa-mujeres" target="_blank" rel="external">
                      www
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-O34WYVZW">
            <div class="contenedorImg astro-O34WYVZW">
              <a class="enlaceImg astro-O34WYVZW" href="/proyectos/colev-pronostico-covid">
                <img class="perezoso astro-O34WYVZW" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/45e2aa20-6781-444e-90bb-a4338d0dad57?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Screenshot from 2022 06 24 10 50 16(1)" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-O34WYVZW">
              <a class="titulo astro-O34WYVZW" href="/proyectos/colev-pronostico-covid">
                <h2 class="astro-O34WYVZW">Colev - Pronóstico del Covid en Colombia</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-O34WYVZW">
                <div class="fecha astro-O34WYVZW" class="terminado">
                  <p id="textoEstado" class="astro-O34WYVZW">Publicado el 31 de agosto de 2022</p>
                  <svg class="enflujoIcono" viewBox="0 0 34.58 40" fill="#000" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;width:1em;height:auto;padding:0">
  <title id="EnflujoIcono" lang="es">Icono de EnFlujo</title>
  <path d="M17.29,7.48a.78.78,0,0,1-.79-.79V1a.79.79,0,1,1,1.58,0V6.69A.79.79,0,0,1,17.29,7.48Z"></path>
  <path d="M17.29,26.18a.78.78,0,0,1-.79-.79V14.29a.79.79,0,0,1,1.58,0v11.1A.79.79,0,0,1,17.29,26.18Z"></path>
  <path d="M17.29,39.81A.78.78,0,0,1,16.5,39V33.31a.79.79,0,0,1,1.58,0V39A.79.79,0,0,1,17.29,39.81Z"></path>
  <path d="M33.75,30.29a.82.82,0,0,1-.38-.09l-4.94-2.86a.78.78,0,0,1-.29-1.07A.79.79,0,0,1,29.22,26l5,2.85a.78.78,0,0,1-.42,1.46Z"></path>
  <path d="M22.12,23.57a.82.82,0,0,1-.38-.09L12.07,17.9a.78.78,0,0,1-.28-1.08.78.78,0,0,1,1.08-.28l9.66,5.57a.79.79,0,0,1,.29,1.08A.82.82,0,0,1,22.12,23.57Z"></path>
  <path d="M5.74,14.13a.73.73,0,0,1-.39-.1L.41,11.18A.78.78,0,0,1,.13,10.1.76.76,0,0,1,1.2,9.82l5,2.85a.78.78,0,0,1,.28,1.08A.8.8,0,0,1,5.74,14.13Z"></path>
  <path d="M28.86,14.06a.78.78,0,0,1-.7-.38.77.77,0,0,1,.29-1.07l4.94-2.89a.79.79,0,0,1,1.08.29.78.78,0,0,1-.29,1.07L29.24,14A.92.92,0,0,1,28.86,14.06Z"></path>
  <path d="M12.47,23.6a.79.79,0,0,1-.7-.38.78.78,0,0,1,.29-1.07l9.67-5.65a.79.79,0,0,1,.79,1.37l-9.67,5.64A.88.88,0,0,1,12.47,23.6Z"></path>
  <path d="M.81,30.39A.8.8,0,0,1,.11,30a.78.78,0,0,1,.28-1.08l5-2.88a.78.78,0,0,1,1.08.28.79.79,0,0,1-.29,1.08L1.19,30.29A.65.65,0,0,1,.81,30.39Z"></path>
  <path d="M12.57,4.5a.8.8,0,0,1-.7-.38A.78.78,0,0,1,12.15,3l5.2-3,5.2,3a.78.78,0,0,1,.28,1.08.76.76,0,0,1-1.07.28L17.35,1.84,13,4.41A1.17,1.17,0,0,1,12.57,4.5Z"></path>
  <path d="M33.77,16.86a.79.79,0,0,1-.79-.79v-5.2L28.6,8.37a.78.78,0,0,1-.28-1.08.74.74,0,0,1,1-.29L34.56,10v6.12A.79.79,0,0,1,33.77,16.86Z"></path>
  <path d="M29,33.12a.83.83,0,0,1-.7-.41.78.78,0,0,1,.25-1.08L33,29.1V24a.79.79,0,0,1,1.58,0V30l-5.17,3A.47.47,0,0,1,29,33.12Z"></path>
  <path d="M17.38,40l-5.19-3A.79.79,0,1,1,13,35.66l4.4,2.53,4.41-2.53A.79.79,0,1,1,22.58,37Z"></path>
  <path d="M5.66,33.12A1.06,1.06,0,0,1,5.24,33L0,30.05V24a.79.79,0,0,1,.8-.79A.79.79,0,0,1,1.6,24v5.14L6,31.63a.79.79,0,0,1,.31,1.08A.75.75,0,0,1,5.66,33.12Z"></path>
  <path d="M.81,16.86a.79.79,0,0,1-.8-.79v-6l5.2-3A.8.8,0,1,1,6,8.43L1.63,11V16.1A.83.83,0,0,1,.81,16.86Z"></path>
</svg>
                  <span class="notaEnFlujo astro-O34WYVZW" data-fecha="Wed Aug 31 2022 19:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-O34WYVZW">Pronóstico de contagios y muertes por Covid-19 en Colombia durante la pandemia.</p>

                <a class="enlace terminado astro-O34WYVZW" href="https://enflujo.com/pronostico-covid19/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-O34WYVZW">
                <p class="interTitulo astro-O34WYVZW">Código:</p>
                <div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/colev-pronostico-covid19" target="_blank" rel="external">
                      www
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-O34WYVZW">
            <div class="contenedorImg astro-O34WYVZW">
              <a class="enlaceImg astro-O34WYVZW" href="/proyectos/colev-colegios">
                <img class="perezoso astro-O34WYVZW" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/0f0c279b-6d2c-4ee2-b588-4b183a81be8b?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Screenshot from 2022 06 24 10 50 16" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-O34WYVZW">
              <a class="titulo astro-O34WYVZW" href="/proyectos/colev-colegios">
                <h2 class="astro-O34WYVZW">Colev - De vuelta al colegio</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-O34WYVZW">
                <div class="fecha astro-O34WYVZW" class="proceso">
                  <p id="textoEstado" class="astro-O34WYVZW">En proceso</p>
                  <svg class="enflujoIcono" viewBox="0 0 34.58 40" fill="#000" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;width:1em;height:auto;padding:0">
  <title id="EnflujoIcono" lang="es">Icono de EnFlujo</title>
  <path d="M17.29,7.48a.78.78,0,0,1-.79-.79V1a.79.79,0,1,1,1.58,0V6.69A.79.79,0,0,1,17.29,7.48Z"></path>
  <path d="M17.29,26.18a.78.78,0,0,1-.79-.79V14.29a.79.79,0,0,1,1.58,0v11.1A.79.79,0,0,1,17.29,26.18Z"></path>
  <path d="M17.29,39.81A.78.78,0,0,1,16.5,39V33.31a.79.79,0,0,1,1.58,0V39A.79.79,0,0,1,17.29,39.81Z"></path>
  <path d="M33.75,30.29a.82.82,0,0,1-.38-.09l-4.94-2.86a.78.78,0,0,1-.29-1.07A.79.79,0,0,1,29.22,26l5,2.85a.78.78,0,0,1-.42,1.46Z"></path>
  <path d="M22.12,23.57a.82.82,0,0,1-.38-.09L12.07,17.9a.78.78,0,0,1-.28-1.08.78.78,0,0,1,1.08-.28l9.66,5.57a.79.79,0,0,1,.29,1.08A.82.82,0,0,1,22.12,23.57Z"></path>
  <path d="M5.74,14.13a.73.73,0,0,1-.39-.1L.41,11.18A.78.78,0,0,1,.13,10.1.76.76,0,0,1,1.2,9.82l5,2.85a.78.78,0,0,1,.28,1.08A.8.8,0,0,1,5.74,14.13Z"></path>
  <path d="M28.86,14.06a.78.78,0,0,1-.7-.38.77.77,0,0,1,.29-1.07l4.94-2.89a.79.79,0,0,1,1.08.29.78.78,0,0,1-.29,1.07L29.24,14A.92.92,0,0,1,28.86,14.06Z"></path>
  <path d="M12.47,23.6a.79.79,0,0,1-.7-.38.78.78,0,0,1,.29-1.07l9.67-5.65a.79.79,0,0,1,.79,1.37l-9.67,5.64A.88.88,0,0,1,12.47,23.6Z"></path>
  <path d="M.81,30.39A.8.8,0,0,1,.11,30a.78.78,0,0,1,.28-1.08l5-2.88a.78.78,0,0,1,1.08.28.79.79,0,0,1-.29,1.08L1.19,30.29A.65.65,0,0,1,.81,30.39Z"></path>
  <path d="M12.57,4.5a.8.8,0,0,1-.7-.38A.78.78,0,0,1,12.15,3l5.2-3,5.2,3a.78.78,0,0,1,.28,1.08.76.76,0,0,1-1.07.28L17.35,1.84,13,4.41A1.17,1.17,0,0,1,12.57,4.5Z"></path>
  <path d="M33.77,16.86a.79.79,0,0,1-.79-.79v-5.2L28.6,8.37a.78.78,0,0,1-.28-1.08.74.74,0,0,1,1-.29L34.56,10v6.12A.79.79,0,0,1,33.77,16.86Z"></path>
  <path d="M29,33.12a.83.83,0,0,1-.7-.41.78.78,0,0,1,.25-1.08L33,29.1V24a.79.79,0,0,1,1.58,0V30l-5.17,3A.47.47,0,0,1,29,33.12Z"></path>
  <path d="M17.38,40l-5.19-3A.79.79,0,1,1,13,35.66l4.4,2.53,4.41-2.53A.79.79,0,1,1,22.58,37Z"></path>
  <path d="M5.66,33.12A1.06,1.06,0,0,1,5.24,33L0,30.05V24a.79.79,0,0,1,.8-.79A.79.79,0,0,1,1.6,24v5.14L6,31.63a.79.79,0,0,1,.31,1.08A.75.75,0,0,1,5.66,33.12Z"></path>
  <path d="M.81,16.86a.79.79,0,0,1-.8-.79v-6l5.2-3A.8.8,0,1,1,6,8.43L1.63,11V16.1A.83.83,0,0,1,.81,16.86Z"></path>
</svg>
                  <span class="notaEnFlujo astro-O34WYVZW" data-fecha="2021-07-11T12:00:00"></span>
                </div>

                <p class="astro-O34WYVZW">De vuelta al colegio permite determinar el nivel de riesgo de contagio de Covid-19 que enfrentan aquellas personas que hacen parte de los centros e instituciones educativas. Colaboración con COLEV, grupo de investigación de la Universidad de los Andes.</p>

                
              </div>

              <div class="repos astro-O34WYVZW">
                <p class="interTitulo astro-O34WYVZW">Código:</p>
                <div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/colev-colegios" target="_blank" rel="external">
                      www
                    </a>
                  </div><div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/colev-colegios-servidor" target="_blank" rel="external">
                      servidor
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-O34WYVZW">
            <div class="contenedorImg astro-O34WYVZW">
              <a class="enlaceImg astro-O34WYVZW" href="/proyectos/imagina-salud-materno-infantil">
                <img class="perezoso astro-O34WYVZW" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/fb6bae0c-b8c9-4524-a35d-f47fea11e697?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Parapagina 2" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-O34WYVZW">
              <a class="titulo astro-O34WYVZW" href="/proyectos/imagina-salud-materno-infantil">
                <h2 class="astro-O34WYVZW">Impacto del COVID-19 sobre la salud materno infantil en Colombia</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-O34WYVZW">
                <div class="fecha astro-O34WYVZW" class="proceso">
                  <p id="textoEstado" class="astro-O34WYVZW">En proceso</p>
                  <svg class="enflujoIcono" viewBox="0 0 34.58 40" fill="#000" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;width:1em;height:auto;padding:0">
  <title id="EnflujoIcono" lang="es">Icono de EnFlujo</title>
  <path d="M17.29,7.48a.78.78,0,0,1-.79-.79V1a.79.79,0,1,1,1.58,0V6.69A.79.79,0,0,1,17.29,7.48Z"></path>
  <path d="M17.29,26.18a.78.78,0,0,1-.79-.79V14.29a.79.79,0,0,1,1.58,0v11.1A.79.79,0,0,1,17.29,26.18Z"></path>
  <path d="M17.29,39.81A.78.78,0,0,1,16.5,39V33.31a.79.79,0,0,1,1.58,0V39A.79.79,0,0,1,17.29,39.81Z"></path>
  <path d="M33.75,30.29a.82.82,0,0,1-.38-.09l-4.94-2.86a.78.78,0,0,1-.29-1.07A.79.79,0,0,1,29.22,26l5,2.85a.78.78,0,0,1-.42,1.46Z"></path>
  <path d="M22.12,23.57a.82.82,0,0,1-.38-.09L12.07,17.9a.78.78,0,0,1-.28-1.08.78.78,0,0,1,1.08-.28l9.66,5.57a.79.79,0,0,1,.29,1.08A.82.82,0,0,1,22.12,23.57Z"></path>
  <path d="M5.74,14.13a.73.73,0,0,1-.39-.1L.41,11.18A.78.78,0,0,1,.13,10.1.76.76,0,0,1,1.2,9.82l5,2.85a.78.78,0,0,1,.28,1.08A.8.8,0,0,1,5.74,14.13Z"></path>
  <path d="M28.86,14.06a.78.78,0,0,1-.7-.38.77.77,0,0,1,.29-1.07l4.94-2.89a.79.79,0,0,1,1.08.29.78.78,0,0,1-.29,1.07L29.24,14A.92.92,0,0,1,28.86,14.06Z"></path>
  <path d="M12.47,23.6a.79.79,0,0,1-.7-.38.78.78,0,0,1,.29-1.07l9.67-5.65a.79.79,0,0,1,.79,1.37l-9.67,5.64A.88.88,0,0,1,12.47,23.6Z"></path>
  <path d="M.81,30.39A.8.8,0,0,1,.11,30a.78.78,0,0,1,.28-1.08l5-2.88a.78.78,0,0,1,1.08.28.79.79,0,0,1-.29,1.08L1.19,30.29A.65.65,0,0,1,.81,30.39Z"></path>
  <path d="M12.57,4.5a.8.8,0,0,1-.7-.38A.78.78,0,0,1,12.15,3l5.2-3,5.2,3a.78.78,0,0,1,.28,1.08.76.76,0,0,1-1.07.28L17.35,1.84,13,4.41A1.17,1.17,0,0,1,12.57,4.5Z"></path>
  <path d="M33.77,16.86a.79.79,0,0,1-.79-.79v-5.2L28.6,8.37a.78.78,0,0,1-.28-1.08.74.74,0,0,1,1-.29L34.56,10v6.12A.79.79,0,0,1,33.77,16.86Z"></path>
  <path d="M29,33.12a.83.83,0,0,1-.7-.41.78.78,0,0,1,.25-1.08L33,29.1V24a.79.79,0,0,1,1.58,0V30l-5.17,3A.47.47,0,0,1,29,33.12Z"></path>
  <path d="M17.38,40l-5.19-3A.79.79,0,1,1,13,35.66l4.4,2.53,4.41-2.53A.79.79,0,1,1,22.58,37Z"></path>
  <path d="M5.66,33.12A1.06,1.06,0,0,1,5.24,33L0,30.05V24a.79.79,0,0,1,.8-.79A.79.79,0,0,1,1.6,24v5.14L6,31.63a.79.79,0,0,1,.31,1.08A.75.75,0,0,1,5.66,33.12Z"></path>
  <path d="M.81,16.86a.79.79,0,0,1-.8-.79v-6l5.2-3A.8.8,0,1,1,6,8.43L1.63,11V16.1A.83.83,0,0,1,.81,16.86Z"></path>
</svg>
                  <span class="notaEnFlujo astro-O34WYVZW" data-fecha="2022-02-10T12:00:00"></span>
                </div>

                <p class="astro-O34WYVZW">Herramienta de visualización y exploración de datos acerca del impacto de la pandemia en la salud materno infantil en Colombia a partir de una investigación de IMAGINA - Centro para la promoción del bienestar de la infancia y adolescencia.</p>

                <a class="enlace proceso astro-O34WYVZW" href="https://enflujo.github.io/imagina-maternoinfantil/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-O34WYVZW">
                <p class="interTitulo astro-O34WYVZW">Código:</p>
                <div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/imagina-maternoinfantil" target="_blank" rel="external">
                      www
                    </a>
                  </div><div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/imagina-maternoinfantil-api" target="_blank" rel="external">
                      tally
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-O34WYVZW">
            <div class="contenedorImg astro-O34WYVZW">
              <a class="enlaceImg astro-O34WYVZW" href="/proyectos/programacin-creativa">
                <img class="perezoso astro-O34WYVZW" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/6c504142-fe3a-4f88-8337-b4ff8be271d1?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Screenshot from 2022 05 13 17 07 49(2)" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-O34WYVZW">
              <a class="titulo astro-O34WYVZW" href="/proyectos/programacin-creativa">
                <h2 class="astro-O34WYVZW">Programación Creativa</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-O34WYVZW">
                <div class="fecha astro-O34WYVZW" class="proceso">
                  <p id="textoEstado" class="astro-O34WYVZW">En proceso</p>
                  <svg class="enflujoIcono" viewBox="0 0 34.58 40" fill="#000" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;width:1em;height:auto;padding:0">
  <title id="EnflujoIcono" lang="es">Icono de EnFlujo</title>
  <path d="M17.29,7.48a.78.78,0,0,1-.79-.79V1a.79.79,0,1,1,1.58,0V6.69A.79.79,0,0,1,17.29,7.48Z"></path>
  <path d="M17.29,26.18a.78.78,0,0,1-.79-.79V14.29a.79.79,0,0,1,1.58,0v11.1A.79.79,0,0,1,17.29,26.18Z"></path>
  <path d="M17.29,39.81A.78.78,0,0,1,16.5,39V33.31a.79.79,0,0,1,1.58,0V39A.79.79,0,0,1,17.29,39.81Z"></path>
  <path d="M33.75,30.29a.82.82,0,0,1-.38-.09l-4.94-2.86a.78.78,0,0,1-.29-1.07A.79.79,0,0,1,29.22,26l5,2.85a.78.78,0,0,1-.42,1.46Z"></path>
  <path d="M22.12,23.57a.82.82,0,0,1-.38-.09L12.07,17.9a.78.78,0,0,1-.28-1.08.78.78,0,0,1,1.08-.28l9.66,5.57a.79.79,0,0,1,.29,1.08A.82.82,0,0,1,22.12,23.57Z"></path>
  <path d="M5.74,14.13a.73.73,0,0,1-.39-.1L.41,11.18A.78.78,0,0,1,.13,10.1.76.76,0,0,1,1.2,9.82l5,2.85a.78.78,0,0,1,.28,1.08A.8.8,0,0,1,5.74,14.13Z"></path>
  <path d="M28.86,14.06a.78.78,0,0,1-.7-.38.77.77,0,0,1,.29-1.07l4.94-2.89a.79.79,0,0,1,1.08.29.78.78,0,0,1-.29,1.07L29.24,14A.92.92,0,0,1,28.86,14.06Z"></path>
  <path d="M12.47,23.6a.79.79,0,0,1-.7-.38.78.78,0,0,1,.29-1.07l9.67-5.65a.79.79,0,0,1,.79,1.37l-9.67,5.64A.88.88,0,0,1,12.47,23.6Z"></path>
  <path d="M.81,30.39A.8.8,0,0,1,.11,30a.78.78,0,0,1,.28-1.08l5-2.88a.78.78,0,0,1,1.08.28.79.79,0,0,1-.29,1.08L1.19,30.29A.65.65,0,0,1,.81,30.39Z"></path>
  <path d="M12.57,4.5a.8.8,0,0,1-.7-.38A.78.78,0,0,1,12.15,3l5.2-3,5.2,3a.78.78,0,0,1,.28,1.08.76.76,0,0,1-1.07.28L17.35,1.84,13,4.41A1.17,1.17,0,0,1,12.57,4.5Z"></path>
  <path d="M33.77,16.86a.79.79,0,0,1-.79-.79v-5.2L28.6,8.37a.78.78,0,0,1-.28-1.08.74.74,0,0,1,1-.29L34.56,10v6.12A.79.79,0,0,1,33.77,16.86Z"></path>
  <path d="M29,33.12a.83.83,0,0,1-.7-.41.78.78,0,0,1,.25-1.08L33,29.1V24a.79.79,0,0,1,1.58,0V30l-5.17,3A.47.47,0,0,1,29,33.12Z"></path>
  <path d="M17.38,40l-5.19-3A.79.79,0,1,1,13,35.66l4.4,2.53,4.41-2.53A.79.79,0,1,1,22.58,37Z"></path>
  <path d="M5.66,33.12A1.06,1.06,0,0,1,5.24,33L0,30.05V24a.79.79,0,0,1,.8-.79A.79.79,0,0,1,1.6,24v5.14L6,31.63a.79.79,0,0,1,.31,1.08A.75.75,0,0,1,5.66,33.12Z"></path>
  <path d="M.81,16.86a.79.79,0,0,1-.8-.79v-6l5.2-3A.8.8,0,1,1,6,8.43L1.63,11V16.1A.83.83,0,0,1,.81,16.86Z"></path>
</svg>
                  <span class="notaEnFlujo astro-O34WYVZW" data-fecha="2020-11-20T12:00:00"></span>
                </div>

                <p class="astro-O34WYVZW">Un espacio para aprender sobre programación, con intenciones de creación artística.</p>

                <a class="enlace proceso astro-O34WYVZW" href="https://enflujo.github.io/programacion-creativa/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-O34WYVZW">
                <p class="interTitulo astro-O34WYVZW">Código:</p>
                <div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/programacion-creativa" target="_blank" rel="external">
                      programacion-creativa
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-O34WYVZW">
            <div class="contenedorImg astro-O34WYVZW">
              <a class="enlaceImg astro-O34WYVZW" href="/proyectos/emporio-no-benevolente">
                <img class="perezoso astro-O34WYVZW" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/476feda8-c7d0-418d-9ee8-c699e25b3e31?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Emporio No Benevolente V1" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-O34WYVZW">
              <a class="titulo astro-O34WYVZW" href="/proyectos/emporio-no-benevolente">
                <h2 class="astro-O34WYVZW">Emporio no Benevolente</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-O34WYVZW">
                <div class="fecha astro-O34WYVZW" class="proceso">
                  <p id="textoEstado" class="astro-O34WYVZW">En proceso</p>
                  <svg class="enflujoIcono" viewBox="0 0 34.58 40" fill="#000" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;width:1em;height:auto;padding:0">
  <title id="EnflujoIcono" lang="es">Icono de EnFlujo</title>
  <path d="M17.29,7.48a.78.78,0,0,1-.79-.79V1a.79.79,0,1,1,1.58,0V6.69A.79.79,0,0,1,17.29,7.48Z"></path>
  <path d="M17.29,26.18a.78.78,0,0,1-.79-.79V14.29a.79.79,0,0,1,1.58,0v11.1A.79.79,0,0,1,17.29,26.18Z"></path>
  <path d="M17.29,39.81A.78.78,0,0,1,16.5,39V33.31a.79.79,0,0,1,1.58,0V39A.79.79,0,0,1,17.29,39.81Z"></path>
  <path d="M33.75,30.29a.82.82,0,0,1-.38-.09l-4.94-2.86a.78.78,0,0,1-.29-1.07A.79.79,0,0,1,29.22,26l5,2.85a.78.78,0,0,1-.42,1.46Z"></path>
  <path d="M22.12,23.57a.82.82,0,0,1-.38-.09L12.07,17.9a.78.78,0,0,1-.28-1.08.78.78,0,0,1,1.08-.28l9.66,5.57a.79.79,0,0,1,.29,1.08A.82.82,0,0,1,22.12,23.57Z"></path>
  <path d="M5.74,14.13a.73.73,0,0,1-.39-.1L.41,11.18A.78.78,0,0,1,.13,10.1.76.76,0,0,1,1.2,9.82l5,2.85a.78.78,0,0,1,.28,1.08A.8.8,0,0,1,5.74,14.13Z"></path>
  <path d="M28.86,14.06a.78.78,0,0,1-.7-.38.77.77,0,0,1,.29-1.07l4.94-2.89a.79.79,0,0,1,1.08.29.78.78,0,0,1-.29,1.07L29.24,14A.92.92,0,0,1,28.86,14.06Z"></path>
  <path d="M12.47,23.6a.79.79,0,0,1-.7-.38.78.78,0,0,1,.29-1.07l9.67-5.65a.79.79,0,0,1,.79,1.37l-9.67,5.64A.88.88,0,0,1,12.47,23.6Z"></path>
  <path d="M.81,30.39A.8.8,0,0,1,.11,30a.78.78,0,0,1,.28-1.08l5-2.88a.78.78,0,0,1,1.08.28.79.79,0,0,1-.29,1.08L1.19,30.29A.65.65,0,0,1,.81,30.39Z"></path>
  <path d="M12.57,4.5a.8.8,0,0,1-.7-.38A.78.78,0,0,1,12.15,3l5.2-3,5.2,3a.78.78,0,0,1,.28,1.08.76.76,0,0,1-1.07.28L17.35,1.84,13,4.41A1.17,1.17,0,0,1,12.57,4.5Z"></path>
  <path d="M33.77,16.86a.79.79,0,0,1-.79-.79v-5.2L28.6,8.37a.78.78,0,0,1-.28-1.08.74.74,0,0,1,1-.29L34.56,10v6.12A.79.79,0,0,1,33.77,16.86Z"></path>
  <path d="M29,33.12a.83.83,0,0,1-.7-.41.78.78,0,0,1,.25-1.08L33,29.1V24a.79.79,0,0,1,1.58,0V30l-5.17,3A.47.47,0,0,1,29,33.12Z"></path>
  <path d="M17.38,40l-5.19-3A.79.79,0,1,1,13,35.66l4.4,2.53,4.41-2.53A.79.79,0,1,1,22.58,37Z"></path>
  <path d="M5.66,33.12A1.06,1.06,0,0,1,5.24,33L0,30.05V24a.79.79,0,0,1,.8-.79A.79.79,0,0,1,1.6,24v5.14L6,31.63a.79.79,0,0,1,.31,1.08A.75.75,0,0,1,5.66,33.12Z"></path>
  <path d="M.81,16.86a.79.79,0,0,1-.8-.79v-6l5.2-3A.8.8,0,1,1,6,8.43L1.63,11V16.1A.83.83,0,0,1,.81,16.86Z"></path>
</svg>
                  <span class="notaEnFlujo astro-O34WYVZW" data-fecha="2021-12-08T12:00:00"></span>
                </div>

                <p class="astro-O34WYVZW">Aplicación para detectar &quot;objetos&quot; (según el lenguaje de modelos como Coco SSD, el cual incluye humanos) en películas grabadas durante la colonia Belga en África.</p>

                <a class="enlace proceso astro-O34WYVZW" href="https://enflujo.com/emporio/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-O34WYVZW">
                <p class="interTitulo astro-O34WYVZW">Código:</p>
                <div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/enflujo-emporio-no-benevolente" target="_blank" rel="external">
                      www
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-O34WYVZW">
            <div class="contenedorImg astro-O34WYVZW">
              <a class="enlaceImg astro-O34WYVZW" href="/proyectos/cartografia-de-la-violencia-policial">
                <img class="perezoso astro-O34WYVZW" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/3f33d9d5-b247-4206-bdae-f4fd34f8ab22?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Cartografia Violencia Policial" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-O34WYVZW">
              <a class="titulo astro-O34WYVZW" href="/proyectos/cartografia-de-la-violencia-policial">
                <h2 class="astro-O34WYVZW">Cartografía de la Violencia Policial</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-O34WYVZW">
                <div class="fecha astro-O34WYVZW" class="terminado">
                  <p id="textoEstado" class="astro-O34WYVZW">Publicado el 9 de mayo de 2021</p>
                  <svg class="enflujoIcono" viewBox="0 0 34.58 40" fill="#000" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;width:1em;height:auto;padding:0">
  <title id="EnflujoIcono" lang="es">Icono de EnFlujo</title>
  <path d="M17.29,7.48a.78.78,0,0,1-.79-.79V1a.79.79,0,1,1,1.58,0V6.69A.79.79,0,0,1,17.29,7.48Z"></path>
  <path d="M17.29,26.18a.78.78,0,0,1-.79-.79V14.29a.79.79,0,0,1,1.58,0v11.1A.79.79,0,0,1,17.29,26.18Z"></path>
  <path d="M17.29,39.81A.78.78,0,0,1,16.5,39V33.31a.79.79,0,0,1,1.58,0V39A.79.79,0,0,1,17.29,39.81Z"></path>
  <path d="M33.75,30.29a.82.82,0,0,1-.38-.09l-4.94-2.86a.78.78,0,0,1-.29-1.07A.79.79,0,0,1,29.22,26l5,2.85a.78.78,0,0,1-.42,1.46Z"></path>
  <path d="M22.12,23.57a.82.82,0,0,1-.38-.09L12.07,17.9a.78.78,0,0,1-.28-1.08.78.78,0,0,1,1.08-.28l9.66,5.57a.79.79,0,0,1,.29,1.08A.82.82,0,0,1,22.12,23.57Z"></path>
  <path d="M5.74,14.13a.73.73,0,0,1-.39-.1L.41,11.18A.78.78,0,0,1,.13,10.1.76.76,0,0,1,1.2,9.82l5,2.85a.78.78,0,0,1,.28,1.08A.8.8,0,0,1,5.74,14.13Z"></path>
  <path d="M28.86,14.06a.78.78,0,0,1-.7-.38.77.77,0,0,1,.29-1.07l4.94-2.89a.79.79,0,0,1,1.08.29.78.78,0,0,1-.29,1.07L29.24,14A.92.92,0,0,1,28.86,14.06Z"></path>
  <path d="M12.47,23.6a.79.79,0,0,1-.7-.38.78.78,0,0,1,.29-1.07l9.67-5.65a.79.79,0,0,1,.79,1.37l-9.67,5.64A.88.88,0,0,1,12.47,23.6Z"></path>
  <path d="M.81,30.39A.8.8,0,0,1,.11,30a.78.78,0,0,1,.28-1.08l5-2.88a.78.78,0,0,1,1.08.28.79.79,0,0,1-.29,1.08L1.19,30.29A.65.65,0,0,1,.81,30.39Z"></path>
  <path d="M12.57,4.5a.8.8,0,0,1-.7-.38A.78.78,0,0,1,12.15,3l5.2-3,5.2,3a.78.78,0,0,1,.28,1.08.76.76,0,0,1-1.07.28L17.35,1.84,13,4.41A1.17,1.17,0,0,1,12.57,4.5Z"></path>
  <path d="M33.77,16.86a.79.79,0,0,1-.79-.79v-5.2L28.6,8.37a.78.78,0,0,1-.28-1.08.74.74,0,0,1,1-.29L34.56,10v6.12A.79.79,0,0,1,33.77,16.86Z"></path>
  <path d="M29,33.12a.83.83,0,0,1-.7-.41.78.78,0,0,1,.25-1.08L33,29.1V24a.79.79,0,0,1,1.58,0V30l-5.17,3A.47.47,0,0,1,29,33.12Z"></path>
  <path d="M17.38,40l-5.19-3A.79.79,0,1,1,13,35.66l4.4,2.53,4.41-2.53A.79.79,0,1,1,22.58,37Z"></path>
  <path d="M5.66,33.12A1.06,1.06,0,0,1,5.24,33L0,30.05V24a.79.79,0,0,1,.8-.79A.79.79,0,0,1,1.6,24v5.14L6,31.63a.79.79,0,0,1,.31,1.08A.75.75,0,0,1,5.66,33.12Z"></path>
  <path d="M.81,16.86a.79.79,0,0,1-.8-.79v-6l5.2-3A.8.8,0,1,1,6,8.43L1.63,11V16.1A.83.83,0,0,1,.81,16.86Z"></path>
</svg>
                  <span class="notaEnFlujo astro-O34WYVZW" data-fecha="Sun May 09 2021 19:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-O34WYVZW">Aplicación que reporta casos de violencia policial en Colombia con datos analizados de fuentes abiertas.</p>

                <a class="enlace terminado astro-O34WYVZW" href="https://cerosetenta.uniandes.edu.co/especiales/violencia-policial/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-O34WYVZW">
                <p class="interTitulo astro-O34WYVZW">Código:</p>
                <div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/070-violencia-policial" target="_blank" rel="external">
                      www
                    </a>
                  </div><div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/070-violencia-policial-servidor" target="_blank" rel="external">
                      servidor
                    </a>
                  </div>
              </div>
            </section>
          </div><div class="proyecto astro-O34WYVZW">
            <div class="contenedorImg astro-O34WYVZW">
              <a class="enlaceImg astro-O34WYVZW" href="/proyectos/siete-horas-de-angustia-en-la-modelo">
                <img class="perezoso astro-O34WYVZW" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 630 350'%3E%3C/svg%3E" data-src="https://api.enflujo.com/assets/1d18e2b1-958a-41ad-a59d-868d54db968e?width=667&#38;height=350&#38;quality=90&#38;format=webp" alt="Siete Horas Horas de Angustia en la Modelo" width="630" height="350">
              </a>
            </div>

            <section class="contenedorDescripcion astro-O34WYVZW">
              <a class="titulo astro-O34WYVZW" href="/proyectos/siete-horas-de-angustia-en-la-modelo">
                <h2 class="astro-O34WYVZW">Siete Horas de Angustia en la Modelo</h2>
              </a>

              <div class="descripcion seccionDescripcion astro-O34WYVZW">
                <div class="fecha astro-O34WYVZW" class="terminado">
                  <p id="textoEstado" class="astro-O34WYVZW">Publicado el 17 de mayo de 2020</p>
                  <svg class="enflujoIcono" viewBox="0 0 34.58 40" fill="#000" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;width:1em;height:auto;padding:0">
  <title id="EnflujoIcono" lang="es">Icono de EnFlujo</title>
  <path d="M17.29,7.48a.78.78,0,0,1-.79-.79V1a.79.79,0,1,1,1.58,0V6.69A.79.79,0,0,1,17.29,7.48Z"></path>
  <path d="M17.29,26.18a.78.78,0,0,1-.79-.79V14.29a.79.79,0,0,1,1.58,0v11.1A.79.79,0,0,1,17.29,26.18Z"></path>
  <path d="M17.29,39.81A.78.78,0,0,1,16.5,39V33.31a.79.79,0,0,1,1.58,0V39A.79.79,0,0,1,17.29,39.81Z"></path>
  <path d="M33.75,30.29a.82.82,0,0,1-.38-.09l-4.94-2.86a.78.78,0,0,1-.29-1.07A.79.79,0,0,1,29.22,26l5,2.85a.78.78,0,0,1-.42,1.46Z"></path>
  <path d="M22.12,23.57a.82.82,0,0,1-.38-.09L12.07,17.9a.78.78,0,0,1-.28-1.08.78.78,0,0,1,1.08-.28l9.66,5.57a.79.79,0,0,1,.29,1.08A.82.82,0,0,1,22.12,23.57Z"></path>
  <path d="M5.74,14.13a.73.73,0,0,1-.39-.1L.41,11.18A.78.78,0,0,1,.13,10.1.76.76,0,0,1,1.2,9.82l5,2.85a.78.78,0,0,1,.28,1.08A.8.8,0,0,1,5.74,14.13Z"></path>
  <path d="M28.86,14.06a.78.78,0,0,1-.7-.38.77.77,0,0,1,.29-1.07l4.94-2.89a.79.79,0,0,1,1.08.29.78.78,0,0,1-.29,1.07L29.24,14A.92.92,0,0,1,28.86,14.06Z"></path>
  <path d="M12.47,23.6a.79.79,0,0,1-.7-.38.78.78,0,0,1,.29-1.07l9.67-5.65a.79.79,0,0,1,.79,1.37l-9.67,5.64A.88.88,0,0,1,12.47,23.6Z"></path>
  <path d="M.81,30.39A.8.8,0,0,1,.11,30a.78.78,0,0,1,.28-1.08l5-2.88a.78.78,0,0,1,1.08.28.79.79,0,0,1-.29,1.08L1.19,30.29A.65.65,0,0,1,.81,30.39Z"></path>
  <path d="M12.57,4.5a.8.8,0,0,1-.7-.38A.78.78,0,0,1,12.15,3l5.2-3,5.2,3a.78.78,0,0,1,.28,1.08.76.76,0,0,1-1.07.28L17.35,1.84,13,4.41A1.17,1.17,0,0,1,12.57,4.5Z"></path>
  <path d="M33.77,16.86a.79.79,0,0,1-.79-.79v-5.2L28.6,8.37a.78.78,0,0,1-.28-1.08.74.74,0,0,1,1-.29L34.56,10v6.12A.79.79,0,0,1,33.77,16.86Z"></path>
  <path d="M29,33.12a.83.83,0,0,1-.7-.41.78.78,0,0,1,.25-1.08L33,29.1V24a.79.79,0,0,1,1.58,0V30l-5.17,3A.47.47,0,0,1,29,33.12Z"></path>
  <path d="M17.38,40l-5.19-3A.79.79,0,1,1,13,35.66l4.4,2.53,4.41-2.53A.79.79,0,1,1,22.58,37Z"></path>
  <path d="M5.66,33.12A1.06,1.06,0,0,1,5.24,33L0,30.05V24a.79.79,0,0,1,.8-.79A.79.79,0,0,1,1.6,24v5.14L6,31.63a.79.79,0,0,1,.31,1.08A.75.75,0,0,1,5.66,33.12Z"></path>
  <path d="M.81,16.86a.79.79,0,0,1-.8-.79v-6l5.2-3A.8.8,0,1,1,6,8.43L1.63,11V16.1A.83.83,0,0,1,.81,16.86Z"></path>
</svg>
                  <span class="notaEnFlujo astro-O34WYVZW" data-fecha="Sun May 17 2020 19:00:00 GMT-0500 (Colombia Standard Time)"></span>
                </div>

                <p class="astro-O34WYVZW">El 21 de marzo del 2020, cientos de internos de la cárcel La Modelo de Bogotá se amotinaron, reclamando atención ante la pandemia del Covid-19.</p>

                <a class="enlace terminado astro-O34WYVZW" href="https://cerosetenta.uniandes.edu.co/especiales/siete-horas/" target="_blank">
                    Ver Proyecto
                  </a>
              </div>

              <div class="repos astro-O34WYVZW">
                <p class="interTitulo astro-O34WYVZW">Código:</p>
                <div class="repo astro-O34WYVZW">
                    <img class="iconoRed astro-O34WYVZW" src="/imgs/github.svg">
                    <a class="repoNombre astro-O34WYVZW" href="https://github.com/enflujo/070-siete-horas" target="_blank" rel="external">
                      www
                    </a>
                  </div>
              </div>
            </section>
          </div>
    </div>
  </main>

    <div id="marco" class="astro-4ZMCT2CQ">
      <span id="marcoSuperior" class="seccionMarco astro-4ZMCT2CQ"></span>
      <span id="marcoInferior" class="seccionMarco astro-4ZMCT2CQ"></span>
      <span id="marcoIzq" class="seccionMarco astro-4ZMCT2CQ">
        <div class="flujo astro-4ZMCT2CQ">
          <p class="copy astro-4ZMCT2CQ">EnFlujo</p>
          <p id="fecha" class="copy fecha astro-4ZMCT2CQ"></p>
        </div>
      </span>
      <span id="marcoDer" class="seccionMarco astro-4ZMCT2CQ"></span>
    </div>

    
  </body>
</html>







