main.pagina {
  padding-top: 2em;
}

.contenedorFluido {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.contenido {
  ul {
    margin-left: 1em;

    li {
      margin-bottom: 0.5em;
      line-height: 1.5;

      &::before {
        content: '';
        width: 0.3em;
        height: 0.3em;
        background-color: $colorPrincipal;
        display: block;
        position: absolute;
        margin-left: -0.8em;
        margin-top: 0.6em;
      }
    }
  }
}

.notaEnFlujo {
  font-family: $fuenteMono;
}

h1 {
  font-size: 1.8em;

  &.tituloPagina {
    margin-bottom: 1em;
  }
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

// Teléfonos horizontal
@media (min-width: $minCelular) {
  .contenedorFluido {
    width: 80vw;
  }
}

// Pantallas medianas (Tablets)
@media (min-width: $minTablet) {
}

// Dispositivos grandes y pantallas medianas
@media (min-width: $minPantalla) {
  .contenedorFluido {
    width: 75vw;
  }
}

// Pantallas grandes
@media (min-width: $minPantallaGrande) {
  .contenedorFluido {
    width: 60vw;
    max-width: 1200px;
  }
}
