$fuentePrincipal: 'ibm-plex-mono', 'Courier New', Courier, monospace;
$fuentePrincipalPeso: 400;
$fuentePrincipalBold: 700;
$colorPrincipal: #5757f7;
$colorOscuro: #000;
$anchoMenu: 60px;

// Tamaños Pantallas
$minCelular: 576px;
$minTablet: 768px;
$minPantalla: 992px;
$minPantallaGrande: 1200px;
