@mixin elementosTexto($ancho, $max: null) {
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  time,
  ul,
  ol {
    width: $ancho;
    max-width: $max;
  }
}

@mixin tituloMarco {
  background-image: url(~/assets/imgs/marco-oscuro.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: max-content;
}
