<!DOCTYPE html>
<html lang="es" class="astro-4ZMCT2CQ" style="--colorPrincipal: #5757F7;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="canonical" href="https://enflujo.com/proyectos/colev-colegios/">
    <title>..:: EnFlujo ::..</title>
    <meta name="description">
    <!-- OpenGraph -->
    <meta property="og:locale" content="es_CO">
    <meta property="og:site_name" content="EnFlujo">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://enflujo.com/proyectos/colev-colegios/">
    <meta property="og:title" content="..:: EnFlujo ::..">
    <meta property="og:description">
    <meta property="og:image" content="https://enflujo.com//imgs/og-EnFlujo-predeterminado.jpg">
    <meta property="og:image:alt">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@labenflujo">
    <meta name="twitter:creator" content="@labenflujo">
    <meta name="twitter:url" content="https://enflujo.com/proyectos/colev-colegios/">
    <meta name="twitter:title" content="..:: EnFlujo ::..">
    <meta name="twitter:description">
    <meta name="twitter:image" content="https://enflujo.com//imgs/og-EnFlujo-predeterminado.jpg">
    <meta name="twitter:image:alt">
  <link rel="stylesheet" href="/assets/proyectos-_slug_.a40c6bd3.css" />
<link rel="stylesheet" href="/assets/404-index-proyectos-_slug_-proyectos-index.606c4cc1.css" /><style>:root {
  --colorPrincipal: colorPrincipal;
}</style><script type="module" src="/hoisted.004cff94.js"></script></head>

  <body class="astro-4ZMCT2CQ">
    <nav class="navegacion astro-CCZHHMNZ">
  <a href="/" class="logoBtn astro-CCZHHMNZ">
    <svg class="enflujoLogo menuSuperior astro-FMVXSCPU" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150.96 150">
  <title id="EnflujoLogo" lang="es">Logo EnFlujo</title>
  <path d="M150.96,25.34L107.06,0l-21.06,12.16L64.95,0,0,37.5V112.5l64.95,37.5,64.95-37.5v-24.32l21.05-12.15V25.34ZM64.95,4.1l17.5,10.11-18.39,10.62h0L21.06,49.65v48.64L3.55,108.44V39.55L64.95,4.1Zm61.4,82.03l-19.29,11.14-40.33-23.29v-23.32h0V27.39l19.29-11.14,40.35,23.29v46.58Zm-63.18-10.1v68.85L5.36,111.5l19.25-11.16V51.7L63.17,29.44v46.59h0Zm3.55,2.05l36.78,21.24-36.78,21.24v-42.47Zm59.63,32.37l-59.63,34.43v-20.22l40.33-23.29h0l19.29-11.14v20.22Zm21.05-36.48l-17.5,10.1V37.5L89.56,14.21l17.5-10.11,40.34,23.29v46.58Z" class="astro-FMVXSCPU"></path>
</svg>


  </a>
  <a href="/proyectos" class="navBtn astro-CCZHHMNZ">
        Proyectos
      </a><a href="/equipo" class="navBtn astro-CCZHHMNZ">
        Equipo
      </a>
</nav>


    <main class="pagina astro-ZBE6FGXI">
    <section class="contenedorFluido astro-ZBE6FGXI">
      <h1 class="titulo astro-ZBE6FGXI">Colev - De vuelta al colegio</h1>
      <div class="astro-ZBE6FGXI">
        <!-- <EnflujoImagen
          v-if="pagina.banner && pagina.banner.id"
          :imgId="pagina.banner.id"
          ancho="1200"
          alto="630"
          :titulo="pagina.banner.title"
        /> -->
        <!-- <a v-if="pagina.enlace" class="enlace" :class="pagina.estado" :href="pagina.enlace" target="_blank">
          Ver Proyecto
        </a> -->
        <!-- <ProyectoRepositorios v-if="pagina.repos && pagina.repos.length" :repos="pagina.repos" /> -->
      </div>
    </section>

    <!-- <section v-if="pagina.contenido" class="seccionProyecto contenedorFluido contenido">
      <h2>Notas</h2>
      <div v-html="$md.render(pagina.contenido)"></div>
    </section> -->
  </main>

    <div id="marco" class="astro-4ZMCT2CQ">
      <span id="marcoSuperior" class="seccionMarco astro-4ZMCT2CQ"></span>
      <span id="marcoInferior" class="seccionMarco astro-4ZMCT2CQ"></span>
      <span id="marcoIzq" class="seccionMarco astro-4ZMCT2CQ">
        <div class="flujo astro-4ZMCT2CQ">
          <p class="copy astro-4ZMCT2CQ">EnFlujo</p>
          <p id="fecha" class="copy fecha astro-4ZMCT2CQ"></p>
        </div>
      </span>
      <span id="marcoDer" class="seccionMarco astro-4ZMCT2CQ"></span>
    </div>

    
  </body>
</html>





