---
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla titulo="..:: 404 ::.." descripcion="Te perdiste, esta página no existe">
  <main class="error404">404 &#128573;</main>
</Plantilla>

<style lang="scss">
  .error404 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
