<!DOCTYPE html>
<html lang="es" class="astro-DCIJX6KF" style="--colorPrincipal: #5757F7;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/sitio.webmanifest">
    <link rel="canonical" href="https://enflujo.com/proyectos/cartografia-de-la-violencia-policial/">
    <title>..:: EnFlujo ::..</title>
    <meta name="description">
    <!-- OpenGraph -->
    <meta property="og:locale" content="es_CO">
    <meta property="og:site_name" content="EnFlujo">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://enflujo.com/proyectos/cartografia-de-la-violencia-policial/">
    <meta property="og:title" content="..:: EnFlujo ::..">
    <meta property="og:description">
    <meta property="og:image" content="https://enflujo.com//imgs/og-EnFlujo-predeterminado.jpg">
    <meta property="og:image:alt">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@labenflujo">
    <meta name="twitter:creator" content="@labenflujo">
    <meta name="twitter:url" content="https://enflujo.com/proyectos/cartografia-de-la-violencia-policial/">
    <meta name="twitter:title" content="..:: EnFlujo ::..">
    <meta name="twitter:description">
    <meta name="twitter:image" content="https://enflujo.com//imgs/og-EnFlujo-predeterminado.jpg">
    <meta name="twitter:image:alt">
    <link rel="stylesheet" href="https://use.typekit.net/ksv6tvg.css">
  <link rel="stylesheet" href="/assets/404-index-proyectos-_slug_-proyectos-index.c24b4193.css" />
<link rel="stylesheet" href="/assets/proyectos-_slug_.fa7024ef.css" /><style>:root {
  --colorPrincipal: colorPrincipal;
}</style><script type="module" src="/hoisted.004cff94.js"></script></head>

  <body class="astro-DCIJX6KF">
    <nav class="navegacion astro-CCZHHMNZ">
  <a href="/" class="logoBtn astro-CCZHHMNZ">
    <svg class="enflujoLogo menuSuperior astro-MT67E4J7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.576 73.197">
  <title class="EnflujoLogo" lang="es">Logo EnFlujo</title>
  <path transform="matrix(.35278 0 0 -.35278 33.34 47.38)" d="m0 0 23.783-14.33L48.394.041v55.747L0 27.266Zm-4.485-73.184a4.48 4.48 0 0 0-2.251.606l-85.536 49.63a4.484 4.484 0 0 0-2.234 3.879v99.258c0 1.6.851 3.078 2.235 3.881l85.593 49.628a4.482 4.482 0 0 0 4.478.013l43.632-24.979a4.484 4.484 0 0 0 1.664-6.12 4.483 4.483 0 0 0-6.12-1.665l-41.39 23.695-81.122-47.037v-94.091l81.058-47.031 47.272 27.259L23.711-24.76-2.224-39.904a4.488 4.488 0 0 0-4.571.029L-62.553-6.379a4.487 4.487 0 0 0-2.175 3.845v66.172c0 1.599.851 3.078 2.235 3.88l55.758 32.334a4.486 4.486 0 0 0 4.5-7.76l-53.523-31.037V.004l51.305-30.822 19.409 11.334L-6.8-6.375a4.484 4.484 0 0 0-2.171 3.841v32.363c0 1.589.84 3.058 2.208 3.864l57.365 33.809a4.481 4.481 0 0 0 4.502.03 4.483 4.483 0 0 0 2.26-3.894V-2.534a4.484 4.484 0 0 0-2.223-3.873L32.538-19.606 53.94-32.502a4.483 4.483 0 0 0 2.17-3.884 4.482 4.482 0 0 0-2.244-3.843L-2.245-72.584a4.48 4.48 0 0 0-2.24-.6" class="astro-MT67E4J7"></path>
</svg>


  </a>
  <a href="/proyectos" class="navBtn astro-CCZHHMNZ">
        Proyectos
      </a><a href="/equipo" class="navBtn astro-CCZHHMNZ">
        Equipo
      </a>
</nav>


    <main class="pagina astro-QK274FJ4">
    <section class="contenedorFluido astro-QK274FJ4">
      <h1 class="titulo astro-QK274FJ4">Cartografía de la Violencia Policial</h1>
      <div class="astro-QK274FJ4">
        <!-- <EnflujoImagen
          v-if="pagina.banner && pagina.banner.id"
          :imgId="pagina.banner.id"
          ancho="1200"
          alto="630"
          :titulo="pagina.banner.title"
        /> -->
        <!-- <a v-if="pagina.enlace" class="enlace" :class="pagina.estado" :href="pagina.enlace" target="_blank">
          Ver Proyecto
        </a> -->
        <!-- <ProyectoRepositorios v-if="pagina.repos && pagina.repos.length" :repos="pagina.repos" /> -->
      </div>
    </section>

    <!-- <section v-if="pagina.contenido" class="seccionProyecto contenedorFluido contenido">
      <h2>Notas</h2>
      <div v-html="$md.render(pagina.contenido)"></div>
    </section> -->
  </main>

    <div id="marco" class="astro-DCIJX6KF">
      <span id="marcoSuperior" class="seccionMarco astro-DCIJX6KF"></span>
      <span id="marcoInferior" class="seccionMarco astro-DCIJX6KF"></span>
      <span id="marcoIzq" class="seccionMarco astro-DCIJX6KF">
        <div class="flujo astro-DCIJX6KF">
          <p class="copy astro-DCIJX6KF">EnFlujo</p>
          <p id="fecha" class="copy fecha astro-DCIJX6KF"></p>
        </div>
      </span>
      <span id="marcoDer" class="seccionMarco astro-DCIJX6KF"></span>
    </div>

    
  </body>
</html>





