@mixin elementosTexto($ancho, $max: null) {
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  time,
  ul,
  ol {
    width: $ancho;
    max-width: $max;
  }
}

@mixin tituloMarco {
  background-image: url(/imgs/marco-oscuro.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: max-content;
}

@mixin lista {
  li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    line-height: 1.3;

    &::before {
      content: '';
      width: 5px;
      height: 5px;
      margin-right: 0.3em;
      background-color: var(--colorPrincipal);
    }
  }
}
